h1{color: red;
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 10px 10px 10px rgb(255, 0, 0);
    text-align: center;
}
    h2{
        text-shadow: 10px 10px 10px rgb(255, 0, 0);
        text-align: center;

    }
#aparencia{
        text-indent: 15px;
        line-height: normal;
        color:red ;
    font-size: 30px;
    border: 2px solid red;
    width:600px;
                margin: auto;
            display: block;

}

#Habilidades{
font-size: 30PX;
text-indent: 15px;
color: red;
border: 2px solid red;
width:600px;
            margin: auto;
            display: block;
}

#habitat{
    color: red;
    font-size: 30px;
    text-indent: 15px;
    border: 2px solid red;
    width:600px;
                margin: auto;
            display: block;
}

#Curiosidade{
    color: red;
    font-size: 30px;
    text-indent: 15;
    border: 2px solid red;
    width:600px;
                margin: auto;
            display: block;
}
    body{
        background-color: black;
    }
        img{
            height: 800px;
            width:600px;
            margin: auto;
            display: block;
            box-shadow: 10px 10px 50px rgb(246, 0, 0);
        }